@import url(reset.css);

@font-face{
    font-family: "Cardinal";
    src: url("../fonts/Cardinal.ttf");
}

body{
    background-color: #dcdde1bf;
}

/*GENERAL*/
#contenedorPrincipal{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ccc;
    box-shadow: 0 0 1em grey;
}

a{
    text-decoration: none;
}

h2{
    color: #581845;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.alerta_verde{
    clear: both;
    color: #009975;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.alerta_roja{
    clear: both;
    color: #cb3234d1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.clear{
    clear: both;
}

#header{
    height: 165px;
    background-color: #c70039e8;
    border: 3px solid #900c3f61;
}

#logo{
    margin: auto;
    width: 100px;
    padding: 5px;
    text-align: center;
}

#logo img{
    width: 60px;
}

#logo a{
    text-align: center;
    font-family: "Cardinal";
    font-size: 30px;
    text-shadow: 0px 1px 1px #FFF;
    box-sizing: border-box;
    color: black;
}

#botones{
    margin: 0 auto;
    width: 14em;
    text-align: center;
}

#botones a div{
    color: #581845;
    float: left;
    padding: 5px;
    padding-top: 1px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    margin-top: 5px;

}

#botones a div:hover{
    color: #FF5733;
    font-weight: bold;
}

/*MENÚ*/
#divMenu{
    background: #581845d6;
    height: 48px;
}

#divMenu #labelMenu{
    clear: both;
    float: left;
    display: inline-block;
    height: 30px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    /*border: 1px solid #581845d6;*/
}

#labelMenu:hover{
    cursor: pointer;
}


#menuM{
    clear: both;
    width: 70%; 
    height: 220px;
    margin: -90%;
    background: #581845d6;
}
#menuM ul {
    flex-direction: column; 
}
#menuM li{
    height: 55px;
    line-height: 55px;
    transition: all 300ms;
    border-top: 1px solid #900c3f; 
}

#menuM li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    line-height: 15px;
    font-size: 20px;
}

#menuM ul li:hover{
    background: #FF5733CC;
    transition: all 500ms;
}

#btn-menu:checked ~ #menuM{
    margin:0;
}

#btn-menu{
    display:none;
    float: left;
}

#menuHorizontal{
    display: none;
}
/*-------------PÁGINA PRINCIPAL-------------*/

/*CONTENIDO CENTRAL*/
#contenido{
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #ccc;
    min-height: 520px;
}

.divH2{
    clear: both;
    text-align: left;
    font-size: 1em;
    font-family: arial;
    font-weight: bold;
    color: #581845;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.librosInicio{
    float: left;
    margin: 0 0 2% 2%;
    position: relative;
    width: 18%;
    margin-top:2px;
    overflow: hidden;
}

.seccionlibros{
    float: left;
    margin: 0 0 2% 2%;
    position: relative;
    width: 30%;
    height: 9em;
    margin-top:2px;
}

.contenedorLibros{
    height: 320px;
    margin-bottom: 10px;
}

.portada{
    width: 100%;
    height: 88%;
}

.portada:hover{
    opacity: .4;
}

.precioPortada{
    width: 90%;
    font-size: 79%;
    font-family: arial;
    font-weight: bold;
    color: #C70039;
    text-align: center;
    background: #EAB300;
    border-radius: 5px;
    padding: 2px;
}

.paginacion{

    float: left;
    width: 20px !important;
    height: 20px !important;
    padding: 10px;

}

.next_prev_paginacion{
    padding: 11px !important;
    line-height: 3px !important;
    font-size: 20px;
    width: 30px !important;
}
.paginacion:hover{
    background: #581845d6 !important;
    color: #EAB300 !important;
}

.divPaginacion{
    position: absolute;
    width: 80%;
    bottom:0px;
}
.active{
    background: #581845d6 !important;
    color: #EAB300 !important;
}

/*SLIDER PAGINA PRINCIPAL*/
.slide-contenedor{
    display: none;
}

/*VISTA LIBRO INDIVIDUAL*/
h1{
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    color: #C70039;
}

.libIndividual{
    width: 140px;
    height: auto;
    float: left;
    padding: 2px;
}

.portadaIndividual{
    margin: 5px;
    width: 90%;
}

#datosLibro{
    margin: 5px;
    padding: 5px;
    width: auto;
    height: 200px;
    float: left;
}

#datosLibro p{
    margin-top: 2px;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
}
.titulosDatos{
    font-size: 18px;
    font-weight: bold;
    color: #C70039;
}

.botonLibIndividual{
    width: 165px;
}
.botonLibInd{
    width: 72px;
    height: 20px;
    margin: 2px;
    float: left;
    line-height: 20px;
}

a .botonLibInd{
    font-size: 14px;
    text-align: center;
    padding: 2px;
    color: #C70039;
    font-weight: bold;
    background: #EAB300;
    border-radius: 5px;
}

a .botonLibInd:hover{
    background: #FFC300;
}    

#pResenia{
    padding: 10px;
}

/*PAGE LOADER*/
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 75%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #C70039;
    border-top-style: groove;
    height: 80px;
    width: 80px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*FORMULARIOS*/
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="file"],
select, textarea{
    display:block;
    width: 60%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
}

label{
    color: #581845d6;
    font-size: 18px;
    margin: 0px auto;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
select, textarea, #cargaLibro{
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus{
    border: 1px solid #6B7A8F;
    color: black;
}

input[type="submit"]{
    display: block;
    border-radius: 2px;
    width: auto;
    margin: 0px auto;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #581845;
    border: 1px solid #581845;
    font-weight: bold;
    cursor:pointer;
}

.formFiltro{
    margin-top: 10px;
}
/*PANTALLA LOGIN*/
#login{
    width: 65%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*PANTALLA REGISTRO*/
#registro{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*PANTALLA CONTACTO*/
/*social bar*/
.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*VISTA ADMIN (gestion general)*/
#vistaAdmin{
    width:180px;
    margin: auto;
}

.btnGestion{
    width: auto;
    height: 30px;
    margin: 15px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    padding: 2px;
    color: #C70039;
    font-weight: bold;
    background: #eab300ad;
    border-radius: 5px;
}

.btnGestion:hover{
    background: #FFC300;
}

/*VISTA ADMIN (gestionar libros,ofertas,pedidos)*/

.tablaGestion{
    text-align: center;
    width: 97%;
    margin: 0 auto;
    border-bottom: 1px solid #ADADAC;
}

td,th{
    border: 1px solid #ADADAC;
    padding: 2px;
    vertical-align: middle;
}

th{
    color: #C70039;
}

.tablaGestion td .link_tabla{
    color:black;
    text-decoration: underline;
    font-weight: normal;
}
.tablaGestion td a{
    color:  #E83028;
    font-weight: bold;
    font-size: 0.8em;
}

.tablaGestion td .a_editar{
    color: #009975 !important;
}

.tablaGestion td .a_enOferta{
    color: #2274B3 !important;
}

.tablaGestion td .a_eliminar{
    color: #cb3234d1 !important;
}

.tablaGestion td .a_addOferta{
    color: #2274b3b0 !important;
}

.botonUnidMobile{
    display: none;
}

.botonAdmin{
    width: 90px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
    margin: 5px;
    color: #C70039;
    font-weight: bold;
    background-color: #eab300ad;
    border: 1px solid #eab300ad;
}

.botonAdmin:hover{
    background: #FFC300;
    border: 1px solid #FFC300;
}

.botonBack{
    width: 25px;
    font-size: 34px;
}

#libroBuscar{
    width: 200px;
    margin: 0px auto;
}

.botonSmall{
    width: 20px;
    height: 20px;
    padding: 3px;
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

h3{
    text-align: center;
    color: #581845;
    font-weight: bold;
}

.imgPedido{
    width: 90px;
}

.strongPedido{
    margin: 5px;
    color: #900C3F;
    font-weight: bold;
}

.updown-unidades{
    width: 80px;
    margin: 0px auto;
}
.updown-unidades .botonUnidades{
    display: block;
    width: 20px;
    float: left;
    padding:2px;
    margin: 7px;
}

.btnQuitar{
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: #ADADAC;
    border-radius: 7px;
    background-image: url("../img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btnQuitar:hover{
    background-color: #C5C5BE;
}

#deleteCarrito{
    float: left;
    width: 60px;
}

#resumenCarrito{
    float: right;
    width: 7em;
}

#resumenCarrito h3{
    margin-top: 5px;
    padding-right: 5px;
    font-size: 14px;
}

.botonPedido{
    font-size: 13px;
    width: 95px;
}

td .alerta_aviso{
    font-size: 13px;
}

.parrafo{
    font-size:14px;
    padding: 10px;
    color: #3C1414;
}

/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #581845d6;
    border-top: 3px solid #900c3f61;
}



/*SLIDER PAGINA PRINCIPAL*/
    .slide-contenedor{    
        max-width:100%;
        max-height: 23vh;
        width: 100%;
        height:auto;
        position: relative;
        overflow: hidden;
        /* margin: auto; */
    }
/* .miSlider{
    display: none;
    transition: 2s;
    max-height: 100vh;
} */

.miSlider img{
    width: 100%;
    max-height: 23vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a{
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.barra{
    cursor: pointer;
    height:3px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active{
    background-color: #e74c3c;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;    
}

@keyframes fade {
    from {opacity: .4;}
    to{opacity:1;}
}
/*-------------FIN SLIDER-----------------*/

@media only screen and (min-width:320px) and (max-width:479px){
    .slide-contenedor{
        display: none;
    }
    
/*    #contenido{
        min-height: 520px;
    }*/
}


@media only screen and (min-width:360px) and (max-width:480px){
    .seccionlibros{
        height: 10em;
    }

    .contenedorLibros{
        height: 350px;
    }

    .slide-contenedor{
        display: none;
    }

}

@media only screen and (min-width:481px) and (max-width:600px){

    .seccionlibros{
        width: 22%;
    }

    #logo{
        width: 330px;
        height: 100px;
        padding-top: 30px;
    }

    #logoImg{
        width: 30%;
        float: left;
    }

    #logoImg img{
        width: 100%;
    }

    #logoA{
        width: 70%;
        height: 85px;
        line-height: 105px;
        float: left;
    }

    #logoA a{
        font-size: 36px;
    }

    #vistaAdmin{
        width: 200px;
    }

    #vistaAdmin .btnGestion{
        height: 35px;
        line-height: 35px;
        font-size: 17px;
        padding: 3px;
    }

    .parrafo{
        font-size:16px;
    }

    .slide-contenedor{
        display: block;
        max-height: 23vh;
    }
}

@media only screen and (min-width:601px) and (max-width:768px){
    #logo{
        width: 420px;
        height: 100px;
    }

    #logoImg{
        width: 30%;
        float: left;
    }

    #logoImg img{
        width: 95%;
    }

    #logoA{
        width: 70%;
        height: 85px;
        line-height: 135px;
        float: left;
    }

    #logoA a{
        font-size: 44px;
    }

    #botones{
        width: 15em;
    }

    #botones a div{
        font-size: 16px;
    }

    #vistaAdmin{
        width: 250px;
    }

    #vistaAdmin .btnGestion{
        height: 38px;
        line-height: 35px;
        font-size: 19px;
        padding: 3px;
    }

    .seccionlibros{
        width: 18%;
    }

    .portada{
        width: 95%;
        height: 86%;
    }

    .parrafo{
        font-size:18px;
    }

    .slide-contenedor{
        display: block;
        max-height: 30vh;
    }

    .miSlider img{
        width: 100%;
        max-height: 30vh;
        height: 30vh;
    }    

}

@media only screen and (max-width:768px){
    .tablaGestion{
        width: 79%;
        margin: auto;
        margin-bottom: 40px;
    }

    tr,td{
        padding: 5px;
        text-align: center;
    }

    .tablaGestion tr{
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;

    }

    .tablaGestion thead{
        display: none;
    }

    .tablaGestion td{
        border: none;
    }

    .tablaGestion td[data-titulo]{
        display: flex;
    }

    .tablaGestion td[data-titulo]::before{
        content: attr(data-titulo);
        width: 80px;
        color:#581845;
        font-weight: bold;
        text-align: initial;
    }

    .updown-unidades{
        display: none;
    }
    .botonUnidMobile{
        display: block;
    }

    .botonUnidMobile .botonUnidades{
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        padding:2px;
        margin-top: -2px;
        margin-left: 5px;
        line-height: 15px;
    }

}

@media only screen and (min-width:769px) and (max-width:1200px){

    #menuMobile{
        display: none;
    }

    #menuHorizontal{
        display: block;
        background: #581845d6;
        height: 48px;
    }

    #menu ul li{
        line-height: 48px;
        float:left;
        border-right: 1px solid #900C3F;
    }
    #menu a{
        display: block;
        color: white;
        font-size: 18px;
        padding-left: 16px;
        padding-right: 16px;
        transition: all 300ms;
    }
    #menu ul li:hover{
        background: #FF5733CC;
        transition: all 500ms;
    }

    #logo{
        width: 405px;
        height: 100px;
        float: left;
    }

    #logoImg{
        width: 30%;
        float: left;
    }

    #logoImg img{
        width: 95%;
    }

    #logoA{
        width: 70%;
        height: 85px;
        line-height: 135px;
        float: left;
    }

    #logoA a{
        font-size: 44px;
    }

    #botones{
        float: right;
        margin-top: -100px;
        width: 16em;
    }
    #botones a div{
        padding-left: 10px;
        font-size: 16px;
    }

    .portada{
        width: 90%;
    }

    .seccionlibros{
        width: 18%;
        height: 12em;
    }

    #resumenCarrito{
        width: 9em;
        margin-right: 8px;
    }

    #resumenCarrito h3{
        margin-top: 10px;
        font-size: 15px;
    }

    #vistaAdmin{
        width: 300px;
    }

    #vistaAdmin .btnGestion{
        height: 40px;
        line-height: 35px;
        font-size: 19px;
        padding: 3px;
    }

    .slide-contenedor{
        display: block;
        max-height: 40vh;
    }

    .miSlider img{
        width: 100%;
        max-height: 40vh;
        height: 40vh;
    }

}

@media (min-width:1201px){

    #menuMobile{
        display: none;
    }

    #menuHorizontal{
        display: block;
        background: #581845d6;
        height: 48px;
    }

    #menu ul li{
        line-height: 48px;
        float:left;
        border-right: 1px solid #900C3F;
    }
    #menu a{
        display: block;
        color: white;
        font-size: 18px;
        padding-left: 16px;
        padding-right: 16px;
        transition: all 300ms;
    }
    #menu ul li:hover{
        background: #FF5733;
        transition: all 300ms;
    }

    #logo{
        width: 500px;
        height: 150px;
        float: left;
    }

    #logoImg{
        width: 30%;
        float: left;
    }

    #logoImg img{
        width: 88%;
    }

    #logoA{
        width: 70%;
        height: 85px;
        line-height: 135px;
        float: left;
    }

    #logoA a{
        font-size: 53px;
    }

    #botones{
        float: right;
        margin-top: -150px;
        width: 16em;
    }
    #botones a div{
        padding-left: 10px;
        font-size: 16px;
    }

    .portada{
        width: 150px;
    }

    .precioPortada{
        width: 145px;
    }
    
    .seccionlibros{
        width: 18%;
        height: 225px;
    }

    #resumenCarrito{
        width: 9em;
        margin-right: 8px;
    }

    #resumenCarrito h3{
        margin-top: 10px;
        font-size: 15px;
    }

    #vistaAdmin{
        width: 300px;
    }

    #vistaAdmin .btnGestion{
        height: 40px;
        line-height: 35px;
        font-size: 19px;
        padding: 3px;
    }

    .slide-contenedor{
        display: block;
        max-height: 40vh;
    }

    .miSlider img{
        width: 100%;
        max-height: 40vh;
        height: 40vh;
    }

}

