@import url(reset.css);

@font-face{
    font-family: "Cardinal";
    src: url("../fonts/Cardinal.ttf");
}

#contenedorPrincipal{
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ccc;
    box-shadow: 0 0 1em grey;
}

a{
    text-decoration: none;
}

.strongAvisos{
    display: block;
}

h1{
    margin-top: 5px;
    font-size: 30px;
    color: #C70039;
    text-align: center;
}

h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #581845;
}

.divH2{
    text-align: left;
    color: #581845;
}
h3{
    margin-top: 8px;
    font-size: 25px;
    color: #6B7A8F;
    text-align: center; 
}

/*HEADER*/
#header{
    height: 145px;
    background-color: #C70039;
    border: 3px solid #900C3F;
}

#logo{
    margin:5px;
    padding:5px;
    float:left;

}

#logo img{
    float:left;
    width: 105px;
}

#logo a{
    float: left;
    margin-top:40px;
    font-family: "Cardinal";
    font-size: 54px;
    text-shadow: 0px 1px 1px #FFF;
    box-sizing: border-box;
}

/*BOTONES*/
#botones{
    clear: right;
    float:right;
    width: 300px;
    height: auto;
    display: block;
}

.boton{
    width: 88px;
    height: 20px;
    float:left;
    padding: 4px;
    margin:1px;
    margin-top: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    background-color: #581845;
    border: 1px solid #900C3F;
    cursor: pointer;
    display: block;
    border-radius: 7px;
}

.boton:hover{
    background: #FF5733;
    border: 1px solid #FF5733;
}

a .boton{
    color: #C70039;
    text-decoration: none;
    font-weight: bold;
}

#a_oferta{
    font-size:14px;
}
.btnAcciones{
    background: #EAB300;
    border: 1px solid #EAB300;
    margin-right: 6px;
}

.btnAcciones:hover{
    background: #FFC300;
    border: 1px solid #FFC300;
}

.botonSmall{
    padding: 7px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url("../img/search.png");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

/*MENU*/
#btn-menu{
    display:none;
    float: left;
}

#divMenu #labelMenu{
    float: left;
    display: none;
    width: 96%;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #900c3f;
    background: #581845;
}

#labelMenu:hover{
    cursor: pointer;
    background: #FF5733;
}
#menu{
    clear: both;
    width: 100%;
    background: #581845;
    height: 55px;
    border-bottom: 4px solid #900C3F;
}

#menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

#menu ul li{
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #900C3F;
    transition: all 300ms;
}

#menu ul li:hover{
    background: #FF5733;
}
#menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    line-height: 15px;
    font-size: 20px;
}

/*#menu ul a{
    line-height: 55px;
    float:left;
    border-right: 1px solid #900C3F;
    transition: all 300ms;
}

#menu ul a:first-child{
    border-left: 1px solid #900C3F; 
}*/

/*#menu ul a:hover{
    background:  #FF5733;
}

#menu a{
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}*/

/*CONTENIDO CENTRAL*/
#contenido{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background: #ccc;
    min-height: 450px;
}

/*CARRUSEL DE IMAGENES*/
#slider{
    clear: both;
    margin: 0px auto;
    margin-top: 5px;
    width: 100%;
    height: 265px;
    background-color: #ccc;
}

section{
    display: block;
}

.container{ 
    width: 210px;
    height: 140px;
    position: relative;
    margin: 0 auto 40px;

    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    perspective: 1100px;
}

#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translateZ( -288px );
    -moz-transform: translateZ( -288px );
    transform: translateZ( -288px );
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;
    -webkit-animation: rotateInY 40s infinite linear;
    -moz-animation: rotateInY 40s infinite linear;
    animation: rotateInY 40s infinite linear;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 140px;
    height: 210px;
    left: 10px;
    top: 10px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

/*#carousel figure:nth-child(1) { background: hsla(   0, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(2) { background: hsla(  40, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(3) { background: hsla(  80, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(4) { background: hsla( 120, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(5) { background: hsla( 160, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(6) { background: hsla( 200, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(7) { background: hsla( 240, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(8) { background: hsla( 280, 100%, 50%, 0.8 ); }
#carousel figure:nth-child(9) { background: hsla( 320, 100%, 50%, 0.8 ); }*/

#carousel figure:nth-child(1) {
    -webkit-transform: rotateY(   0deg ) translateZ( 288px );
    -moz-transform: rotateY(   0deg ) translateZ( 288px );
    transform: rotateY(   0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
    -webkit-transform: rotateY(  40deg ) translateZ( 288px );
    -moz-transform: rotateY(  40deg ) translateZ( 288px );
    transform: rotateY(  40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
    -webkit-transform: rotateY(  80deg ) translateZ( 288px );
    -moz-transform: rotateY(  80deg ) translateZ( 288px );
    transform: rotateY(  80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
    -webkit-transform: rotateY( 120deg ) translateZ( 288px );
    -moz-transform: rotateY( 120deg ) translateZ( 288px );
    transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
    -webkit-transform: rotateY( 160deg ) translateZ( 288px );
    -moz-transform: rotateY( 160deg ) translateZ( 288px );
    transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
    -webkit-transform: rotateY( 200deg ) translateZ( 288px );
    -moz-transform: rotateY( 200deg ) translateZ( 288px );
    transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
    -webkit-transform: rotateY( 240deg ) translateZ( 288px );
    -moz-transform: rotateY( 240deg ) translateZ( 288px );
    transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
    -webkit-transform: rotateY( 280deg ) translateZ( 288px );
    -moz-transform: rotateY( 280deg ) translateZ( 288px );
    transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
    -webkit-transform: rotateY( 320deg ) translateZ( 288px );
    -moz-transform: rotateY( 320deg ) translateZ( 288px );
    transform: rotateY( 320deg ) translateZ( 288px );
}

.portadaFigure{
    width: 135px;
    height: 205px;
}
@keyframes rotateInY {
    0%   { transform: translateZ(-288px) rotateY(0deg);   }
    100% { transform: translateZ(-288px) rotateY(360deg);    }
}

@-webkit-keyframes rotateInY {
    0%   { -webkit-transform: -webkit-translateZ(-288px) rotateY(0deg);   }
    100% { -webkit-transform: -webkit-translateZ(-288px) rotateY(360deg);    }
}

@-moz-keyframes rotateInY {
    0%   { -moz-transform: -moz-translateZ(-288px) rotateY(0deg);   }
    100% { -moz-transform: -moz-translateZ(-288px) rotateY(360deg);    }
}
/*--------------------------------*/

.alerta_aviso{
    clear: both;
    color: #FF5733;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#clear{
    clear: both;
}

.librosInicio{
    float: left;
    margin: 0 0 2% 2%;
    position: relative;
    width: 18%;
}

.botonPortada{
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 4px;
    width: 90px;
    height: 19px;
}

.precioPortada{
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
    color: #C70039;
}


.portada{
    width: 110px;
    height: 170px;
    margin-left: 20px;
}

.portada:hover{
    opacity: .4;
}

/*FORMULARIOS*/
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="file"],
select, textarea{
    display:block;
    width: 60%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
}

label{
    color: #581845;
    font-size: 18px;
    margin: 0px auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
select, textarea{
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus{
    border: 1px solid #6B7A8F;
    color: black;
}

input[type="submit"]{
    display: block;
    border-radius: 2px;
    width: auto;
    margin: 0px auto;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #581845;
    border: 1px solid #581845;
    font-weight: bold;
    cursor:pointer;
}

#submitLogin{
    width: 60%;
}

#login{
    width: 40%;
    margin: 0px auto;
    margin-top: 20px;
}


/*-------------------*/

label{
    font-size: 25px;
}

/*VISTA ADMIN*/
#vistaAdmin{
    height: 80px;
    width: 580px;;
    margin: 0px auto;
}

.btnAccionAdmin{
    width: 150px;
}
#opciones li{
    margin-top: 15px;
}

#opciones li a{
    text-decoration: none;
    padding: 5px;
    margin: 0px auto;
    margin: 15px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#tablaGestionLibro{
    margin: 4px;
    text-align: center;
    width: 99%;
    border-bottom: 1px solid #ccc;
}

#tablaGestionLibro td{
    padding: 2px;
    vertical-align: middle;
    border-right: 1px solid #6B7A8F;
    border-top: 1px solid #6B7A8F;
}

#tablaGestionLibro td:last-child{
    border-right: none;
}

#tablaGestionLibro th{
    color: #FF5733;
    font-weight: bold;
    padding: 2px;
    border-right: 1px solid #6B7A8F;
}

#tablaGestionLibro th:last-child{
    border-right: none;
}

#tablaGestionLibro tr:last-child{
    border-bottom: none;
}

.botonesGestion{
    margin: auto;
}

.botonAdmin{
    margin-bottom: 20px;
    margin-left: 20px;
}

.btnVolver{
    float: right;
    margin-right: 5px;
}

#buscarLibroCargar{
    margin: 0px auto;
    width: 60%;
}

#search{
    width: 30%;
    height: 25px;
}

#cargaLibro{
    width: 88%;
    height: 25px;
}

#miSelect{
    width: 100%;
}

#button{
    margin-top:10px;
    margin-left: 5x;
}

h4{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #6B7A8F;
}
/*VISTA LIBROS GENERAL*/
#seccionFiltros{
    width: 97%;
    height: 50px;
    margin-left: 30px;
}

#btnBuscar{
    float: left;
    width: 40px;
    padding: 5px;
    margin: 9px;
    background-color: #ccc;
    border-color: #ccc;
    background-image: url("../img/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
}

.busqueda{
    float: left;
    margin-top: 5px;
}

/*VISTA LIBRO INDIVIDUAL*/
.libIndividual{
    margin: 5px;
    width: 200px;
    height: auto;
    float: left;
}

.portadaIndividual{
    margin: 5px;
    width: 100%;
    height: auto;
}

#datosLibro{
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    width: auto;
    height: 300px;
    float: left;
}

#datosLibro p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}

.titulosDatos{
    font-size: 22px;
    font-weight: bold;
    color: #C70039;
}

#description{
    margin: 5px;
    margin-left: 10px;
    width: 90%;
    height: auto;
}

#pResenia{
    font-size: 20px;
}

div.botonLibIndividual{
    width: 210px;
    height: 40px;
    margin-top: -10px;
}
/*CARRITO*/

.imgCarrito{
    height: 70px;
    display: block;
    margin: 10px auto;

}

#resumenCarrito{
    width: 295px;
    float: right;
}

#deleteCarrito{
    width: 295px;
    float: left;
}

#resumenCarrito h3{
    font-size: 18px;
    margin-top:10px;
    float: left;
    font-weight: bold;
}

.btnPedido{
    width: 120px;
    display: block;
    float: right;
    font-size: 17px;
    margin-top: 5px;
}

.btnDelete{
    width: 120px;
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
}

.btnQuitar{
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: #EAB300;
    border-radius: 7px;
    background-image: url("../img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btnQuitar:hover{
    background-color: #FFC300;
}
.td_a{
    color: white !important;
    text-decoration: none !important;
}

.btnVolverCarrito{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 5px;
    margin-left: 10px;
    text-align: center;
    background: #EAB300;
    border: 1px solid #EAB300; 
    color: white;
    font-size:30px;
}

.updown_unidades {
    width: 76px;
    margin: 0px auto;
}

.updown_unidades .botonUnidades{
    display: block;
    width: 20px;
    float: left;
    background-color: #6B7A8F;
    padding: 2px;
    margin: 7px;
}
.parrafo{
    text-align: center;
    font-size: 17px;
    color: #6B7A8F;
}

.pPedido{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 5px;
    margin-left: 10px;
}

.a_pedido{
    color: black;
}

.a_pedido:hover{
    text-decoration: underline;
}

#detalleH3{
    text-align: left;
    margin-left: 10px;
}

#selectDetalle{
    margin: 10px;
    width: 98%;
}

#detalleSubmit{
    margin: 10px;
}

#accionesOferta{
    width: 220px;
    margin: 0px auto;
}

/*SOCIAL BAR*/
.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #581845;
    border-top: 3px solid #900C3F;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width:400px) and (max-width:768px){
    #divMenu #labelMenu{
        display:inline-block;
        width: 95%;
        border: 1px solid #581845;
    }

    #menu{
        width: 70%; 
        height: 220px;
        margin: -90%;
        background: #581845;
    }
    #menu ul {
        flex-direction: column; 
    }
    #menu li{
        border-top: 1px solid #900c3f; 
    }

    #btn-menu:checked ~ #menu{
        margin:0;
    }

    #botones{
        width: 100px;
        float:right;
        
    }

    #logo img{
        display:none;
    }

    #logo{
        width: 220px;
        height: 80px;
        margin-left: -35px;
    }

    #logo a{
        text-align: center;
        margin-top: 10px;
        font-size: 42px;
    }
    
    .portada{
        width: 55px;
        height: 90px;
        margin: 0px;
    }

    .botonPortada{
        margin-top: 5px;
        margin-left: -5px;
        margin-bottom: 4px;
        margin-right: 6px;
        width: 40px;
        height: 14px;
       
    }
    .precioPortada{
        font-size: 12px;
        margin-left: 0px;
    }
    
    .divH2{
        font-size: 17px;
    }
    #slider{
        height: 155px;
    }
   
    .portadaFigure{
        width: 80px;
        height: 120px;
    }
    
    #carousel figure {
        width: 120px;
        height: 170px;
        left: -5px;
        top: 15px;
        margin: 0;
    }
    
    #login{
        width: 70%;
    }
    
    #vistaAdmin{
        width: 200px;
    }
    
    #cargaLibro{
        width: 82%;
    }
    
    a .boton{
        font-size: 13px;
    }
    
    .btnAcciones{
        width: 60px;
        height: auto;
    }
    
    #seccionFiltros{
        margin-left: 10px;
    }
    
    #search{
        width: 50%;
    }
    
    #resumenCarrito{
        width: 150px;
    }
    
    #contenido{
        overflow-x: auto;
    }
    
    h1{
        font-size: 25px;
    }
    
    .titulosDatos{
        font-size: 18px;
    }
    
    .libIndividual{
        width: 130px;
    }
    
}

@media screen and (min-width:769px) and (max-width:1055px){
    .portada{
        width: 80px;
        height: 120px;
        margin: 0px;
    }
    .portadaFigure{
        width: 80px;
        height: 120px;
    }
    .botonPortada{
        margin-top: 5px;
        margin-left: 0px;
        margin-bottom: 4px;
        width: 72px;
        height: 14px;
    }
    .precioPortada{
        font-size: 13px;
        margin-left: 0px;
    }
    .divH2{
        font-size: 20px;
    }
    #slider{
        height: 190px;
    }
    #carousel figure {
        width: 120px;
        height: 170px;
        left: 15px;
        top: 15px;
        margin: 0;
    }

    #seccionFiltros{
        margin-left: 13px;
    }

    #search{
        height: 22px;

    }

    #vistaAdmin{
        width: 200px;
    }

    #menu{
        height: 45px;
    }

    #menu ul li{
        height: 45px;
        line-height: 45px;
        border-right: 1px solid #900C3F;
    }

    #resumenCarrito{
        width: 280px;
    }

    #botones{
        width: 110px;
    }

    #logo img{
        width: 90px;
    }

    #logo a{
        font-size: 47px;
        margin-top: 30px;
    }
}


